.contenedor1{
    /*display: block: dispone el elemento bloque
    - utilizar por defecto tod el ancho disponible de la pantalla
    - se le pueden oner propiedades como:
    ancho, alto, padding, margin, etc
    - el siguiente elemento que tu pongas se mostrara en la siguiente linea
    -por defecto los usan los h, p, div, etc*/
    display: block;
    background: blue;
    height: 150px;
}
.contenedor2{
    display: block;
    background: tomato;
    height: 150px;
    width: 500px;
}
.contenedor3{
    display: inline;
    background: rgb(179, 255, 116);
}
.contenedor4{
    display: inline;
    background: rgb(208, 156, 0);
}
.contenedor5{
    display: inline-block;
    background: rgb(255, 132, 194);
    height: 100px;
    width: 100px;
}
.contenedor6{
    display: inline-block;
    background: rgb(226, 132, 255);
    height: 100px;
    width: 100px;
}