.pregunta1{
    background-color: pink;
}
#first-div{
    font-size: 30px;
}
#pregunta3{
    color: blueviolet;
}
.pregunta6{
    background-color: red;
}
.pregunta7{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pregunta8{
    border: solid blue;
}